/* Layout principal */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Parte principal da página */
.main-content {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

/* Área das notificações */
.notificacoes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap; /* Responsivo */
}

.notificacao {
  background-color: #f9f9f9;
  border: 2px solid #95C122;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: #10395C;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
/*Colocando espaçamento para a main */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Isso faz o main crescer e empurrar o footer para baixo */
  padding: 2rem;
}
