/* ================================================== */
/* RESET GLOBAL E CONFIGURAÇÃO DA ESTRUTURA DA PÁGINA  */
/* ================================================== */

/* 
  1. Garante que padding e bordas não aumentem o tamanho dos elementos.
  Isso previne que elementos com "width: 100%" e padding transbordem.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
  2. Remove margens e paddings padrão do navegador e define a fonte principal.
  Também impede a rolagem horizontal (a causa do espaço em branco na lateral).
*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif; /* Sua fonte personalizada */
  overflow-x: hidden; /* Impede a barra de rolagem horizontal */
  background-color: #f4f7fb; /* Cor de fundo padrão para a aplicação */
  
  
}

/* 
  3. Garante que a div #root (onde o React renderiza a aplicação) 
  ocupe toda a altura disponível.
*/
#root {
  height: 100%;
}
